<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Node JS</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('blocks/header') -%>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Labore asperiores quos cumque quo dolores eligendi quidem nulla. 
            Sit voluptate porro quod nesciunt vero explicabo sed sapiente id, 
            fugit repudiandae dignissimos.
        </p>
    </main>

</body>
</html>