<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Node JS</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <%- include('blocks/header') -%>
    <h1>Cтраница пользователя: <%= username %> </h1>
    <% if(username.toLowerCase() == 'deny') { %>
        <ul>
            <% hobbies.forEach((el) => { %>
                <li><%= el %></li>
           <% }) %>

        </ul>
        <% } %>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Aspernatur ullam porro tenetur harum adipisci magni? 
        Nobis corrupti explicabo a, facere dolores placeat quod. 
        Qui doloremque, praesentium sunt excepturi nostrum quo?</p>
        <a href="/">Главная</a>
</body>
</html>